# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_skeletyl_LEFT
    def_bool $(shields_list_contains,skeletyl_left)

config SHIELD_skeletyl_RIGHT
    def_bool $(shields_list_contains,skeletyl_right)
